.mat-form-field{
    margin : 15px;
}

// css pour card
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 100px;
    perspective: 1000px;
    margin-top: 20px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}   
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #f5f5f5;
    color: black;
}

.flip-card-back {
    background-color: #f5f5f5;
    color: black;
    transform: rotateY(180deg);
}

div.fixed {
    position: fixed;
    right:20px;
    margin-top: 50px;
}

p.italic {
    font-family:Verdana;
    font-style: italic;
    font-size: 9px;
  }