<mat-horizontal-stepper class="col-md-9" linear>
  <mat-step [stepControl]="formGroup1" label="Mon profil (1/2)">
    <div class="panel panel-default">
      <div class="panel-heading">Les coordonnées du souscripteur</div>
      <div class="panel-body">
        <form [formGroup]="formGroup1">
          <mat-form-field>
            <mat-label>Civilité</mat-label>
            <mat-select [formControl]="civiliteFormControl" required>
              <mat-option value="M.">M.</mat-option>
              <mat-option value="Mme">Mme</mat-option>
              <mat-option value="Mlle">Mlle</mat-option>
            </mat-select>
            <mat-icon matSuffix color="primary">wc</mat-icon>
            <mat-error *ngIf="civiliteFormControl.hasError('required')">
              Choix de civilité est obligatoire
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Nom d'usage" [(ngModel)]="nomUsageText"
            [formControl]="usageFormControl" required>
            <mat-icon matSuffix color="primary">text_fields</mat-icon>
            <mat-error *ngIf="usageFormControl.hasError('required')">
              Nom d'usage est obligatoire
            </mat-error>

          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Nom de naissance">
            <mat-icon matSuffix color="primary">text_fields</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Prénom" [(ngModel)]="prenomText"
              [formControl]="prenomFormControl" required>
            <mat-icon matSuffix color="primary">text_fields</mat-icon>
            <mat-error *ngIf="prenomFormControl.hasError('required')">
              Prénom est obligatoire
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date de naissance" [(ngModel)]="dateNaissanceText" [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput #telephonefixe maxlength="10" placeholder="Télephone fixe" value="">
            <mat-hint align="end">{{telephonefixe.value.length}} / 10</mat-hint>
            <mat-icon matSuffix color="primary">phone</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput #telephonemobile maxlength="10" placeholder="Télephone mobile"
            [formControl]="telephoneMobileFormControl" value=""  required>
            <mat-hint align="end">{{telephonemobile.value.length}} / 10</mat-hint>
            <mat-icon matSuffix color="primary">phone_android</mat-icon>
            <mat-error *ngIf="telephoneMobileFormControl.hasError('required')">
              Numéro de téléphone mobile est obligatoire
            </mat-error>

          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl" required>
            <mat-icon matSuffix color="primary" >mail</mat-icon>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              S'il vous plaît, entrer un email valide
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email est obligatoire
            </mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Adresse" 
              [formControl]="adresseFormControl" required></textarea>
            <mat-icon matSuffix color="primary">place</mat-icon>
            <mat-error *ngIf="telephoneMobileFormControl.hasError('required')">
              Adresse est obligatoire
            </mat-error>

          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Adresse complémentaire"></textarea>
            <mat-icon matSuffix color="primary">place</mat-icon>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input matInput #codepostal maxlength="5" placeholder="Code postale"
              [formControl]="codePostalFormControl" value="" required>
            <mat-hint align="end">{{codepostal.value.length}} / 5</mat-hint>
            <mat-icon matSuffix color="primary">filter_5</mat-icon>
            <mat-error *ngIf="telephoneMobileFormControl.hasError('required')">
              Code postal est obligatoire
            </mat-error>

          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Ville" disabled required>
            <mat-icon matSuffix color="primary">location_city</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Pays" [formControl]="paysFormControl" required>
            <mat-icon matSuffix color="primary">public</mat-icon>
            <mat-error *ngIf="paysFormControl.hasError('required')">
              Pays est obligatoire
            </mat-error>

          </mat-form-field>

          <!-- checkbox -->
          <br>
          <section class="example-section">
            <mat-checkbox class="example-margin">
            </mat-checkbox>
            J’accepte de recevoir des offres commerciales de
            la part de La Banque Postale Assurance Santé,
            des sociétés du Groupe auquel elle appartient,
            de ses sous-traitants ou partenaires par voie électronique.
            
            <br>
            <mat-checkbox class="example-margin"></mat-checkbox>
            Je refuse de recevoir des offres commerciales de la part de La Banque Postale
            Assurance Santé, des sociétés du Groupe auquel elle appartient,
            de ses sous-traitants ou partenaires par courrier postal ou appels.
          </section>  
          <br>
          <p class="italic">
            En application de la loi n°78-17 du 6 janvier 1978 modifiée relative à lʼinformatique,
            aux fichiers et aux libertés, les données à caractères personnelles ci-dessus recueillis
            sont obligatoires pour permettre la souscription et feront lʼobjet dʼun traitement dont
            le responsable est La Banque Postale
          </p>
          <p class="italic">
            Vous bénéficiez du droit dʼen obtenir communication auprès du centre financier de La Banque
            Postale teneur du compte dʼen exiger, le cas échéant, la rectification, de sʼopposer à leur
            utilisation à des fins de prospection, notamment, commerciales.
          </p>
           
          
        </form>
      </div>
    </div>
    <!-- panel Personne(s) à assurer -->
    <div class="panel panel-default">
      <div class="panel-heading">Personne(s) à assurer</div>
      <div class="panel-body">
        Souscrivez-vous pour :
        <br><br>
        <mat-radio-group [(ngModel)]="choice" [ngModelOptions]="{standalone: true}" name="choice" required>
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let sous of souscriptions"
            [value]="sous"
          >
            {{ sous }} &nbsp;
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <!-- panel : Vous et dʼautres personnes ?  -->
    <div class="panel panel-default" *ngIf="choice == 'Vous et dʼautres personnes ?'">
      <div class="panel-body">
        Nombre d'adultes à couvrir : 
        <mat-form-field>
          <mat-select required [(value)]="firstSelectedAdulte">
            <mat-option value="1e">1</mat-option>
            <mat-option value="2e">2</mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        Nombre dʼenfants à couvrir : 
        <mat-form-field>
          <mat-select required [(value)]="firstSelectedenfant">
            <mat-option value="0e" selected>0</mat-option>
            <mat-option value="1e">1</mat-option>
            <mat-option value="2e">2</mat-option>
            <mat-option value="3e">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- panel : Dʼautres personnes uniquement ? -->
    <div class="panel panel-default" *ngIf="choice == 'Dʼautres personnes uniquement ?'">
      <div class="panel-body">
        Nombre d'adultes à couvrir : 
        <mat-form-field>
          <mat-select required [(value)]="secondSelectedAdulte">
            <mat-option value="0e">0</mat-option>
            <mat-option value="1e">1</mat-option>
            <mat-option value="2e">2</mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        
        Nombre dʼenfants à couvrir : 
        <mat-form-field>
          <mat-select required [(value)]="secondSelectedenfant">
            <mat-option value="0e" selected>0</mat-option>
            <mat-option value="1e">1</mat-option>
            <mat-option value="2e">2</mat-option>
            <mat-option value="3e">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
    <button type="button" class="btn btn-primary pull-right" matStepperNext>Suivant</button>
  </mat-step>
  <!-- Mat step: La situation du souscripteur -->
  <mat-step [stepControl]="formGroup2" label="Mon profil (2/2)">
    <form [formGroup]="formGroup2">
      <div class="panel panel-default">
        <div class="panel-heading">La situation du souscripteur</div>
        <div class="panel-body">
          <mat-form-field>
            <input matInput placeholder="Nom d'usage" value={{nomUsageText}} disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Prénom" value={{prenomText}} disabled>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Date de naissance" value={{dateNaissanceText}} disabled>
          </mat-form-field>

          <br>

          <mat-form-field>
            <mat-label>Régime obligatoire</mat-label>
            <mat-select required>
              <mat-option value="Salarié.">Salarié</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Les garanties actuelles du souscripteur</div>
        <div class="panel-body">
          Bénéficiez-vous actuellement d'un contrat de complémentaire santé ?
          <mat-radio-group [(ngModel)]="choiceON" [ngModelOptions]="{standalone: true}" name="choiceON" required>
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let choix of choixON"
              [value]="choix"
            >
              {{ choix }} &nbsp;
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          Date d'effet souhaitée du contrat Assurance Santé de La Banque Postale :
        </div>
      </div>

      <button type="button" class="btn btn-primary" matStepperPrevious>Précédent</button>
      <button type="button" class="btn btn-primary pull-right" matStepperNext>Suivant</button>

    </form>
  </mat-step>

  <mat-step [stepControl]="formGroup3" label="Définir mes besoins">
    <form [formGroup]="formGroup3">
      <mat-form-field>
        <input matInput placeholder="favorite job" formControlName="thirdCtrl" required>
      </mat-form-field>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<!-- Card -->
<div class="fixed col-md-3">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/images/calendrier.png" alt="Avatar" style="width:80px;height:80px;">
        <p>ÊTRE APPELÉ</p>
      </div>
      <div class="flip-card-back">
        <br>
        <p>ÊTRE APPELÉ À MA CONVENANCE</p> 
        <p>PAR UN CONSEILLER</p>
      </div>
    </div>
  </div>

  <div class="flip-card" >
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../../assets/images/telephone.png" alt="Avatar" style="width:80px;height:80px;">
        <p>ÊTRE MIS EN RELATION</p>
      </div>
      <div class="flip-card-back">
        <br>
        <p>ÊTRE MIS EN RELATION</p> 
        <p>IMMÉDIATEMENT AVEC UN CONSEILLER</p>
      </div>
    </div>
  </div>
</div>