:host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.nav-brand {
    width: 215px;
    text-align: center;
}
.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

.nav-spacer {
    flex: 1 1 auto;
}

.visible-md {
    display: none;
}
.visible-sm {
    display: none;
}
@media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}

.colorToolbar{
    background-color: #9fb813;
    color: white;
}

.centerImg {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
}
/*
.navbar-nav{
    position: absolute;
    left: 300px; 
}*/

.color-href{
    color: #9fb813;
    font-family:Verdana;
    font-weight: bold;
    font-size: 11px;
}


ul li a.ob-devis{
    color: #971048;
    font-family:Verdana;
    font-weight: bold;
    font-size: 13px;
}

ul li a.mes-devis{
    color: #9fb813;
    font-family:Verdana;
    font-weight: bold;
    font-size: 13px;
}

ul li a.mes-devis:hover{
    color: #971048;
}
